:root{
  --clr-primary: rgba(250, 250, 250, 1);
  --clr-secondary: hsl(207, 71%, 53%);
  --clr-secondary-light: hsl(207, 76%, 67%);
  --clr-secondary-dark: hsl(207, 66%, 45%);
  --clr-secondary-lightest: hsl(206, 100%, 97%);
  --clr-light: rgba(250, 250, 250, 1);
  --clr-lightest: #fff;
  --clr-darkest: rgba(39, 39, 42);
}

.bg-darkest h1, h2, h3, p {
  color: var(--lightest);
}

html, body {
  overflow-x: hidden;
}

@media only screen and (max-width: 1100px) {
  .template-menu {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  h1 {
    @apply text-5xl xl:text-6xl mb-14 leading-snug;
  }
  h2 {
    @apply text-4xl xl:text-5xl mb-12;
  }
  h3 {
    @apply text-3xl xl:text-4xl mb-10;
  }
  h1, h2, h3 {
    @apply text-darkest dark:text-lightest font-bold;
  }
  p {
    @apply text-lg mb-6 font-light leading-loose;
  }
  p, li {
    @apply text-gray-700 dark:text-gray-400;
  }
  header,
  section,
  article,
  footer,
  aside {
    @apply dark:bg-darkest text-lightest;
  }

  /* Custom components */
  @layer components {
    .preheading-primary {
      @apply mb-3 text-sm tracking-widest text-secondary-light dark:text-secondary-light uppercase !important;
    }
  
    .preheading-secondary {
      @apply mb-3 text-sm tracking-widest text-gray-400 dark:text-gray-200 uppercase;
    }
  }

  /* Custom utilities */
  @layer utilities {
  }
}
